*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #0E151F;
}
/* Header */
.head{
    height: 70px;
    padding: 10px;
    padding-top: 24px;
}
.text{
    border-top: 1px solid #91A2CB;;
    margin-left: 5%;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #91A2CB;
    width: 102px;
}
/* cet 1 */
.word{
    height: 232px;
    width: 607px;
    margin-left: 140px;
    color: #91A2CB; 
    
    font-size: 96px;
    font-weight: 600;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;

}
/* Cet 2 */
.egi{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}
.search{
    border: 1px solid #101925;
    border-radius: 3px;
    color: #8C98AD;

    height: 65px;
    margin-top: 20px;
    width: 850px;
    color: #91A2CB;
    margin-left: 130px; 
    
    font-size: 18px;
    font-weight: 600;
    line-height: 116px;
    letter-spacing: 0em;

}
.but{
    border: 1px solid #101925;
    border-radius: 3px;
    background-color: #061020;
    color: #FFDEBE;

    height: 65px;
    margin-top: 20px;
    width: 124px;
    border-radius: 5px;
    margin-left: 3px;

    font-size: 18px;
    font-weight: 600;   
    text-align: center;
}

.try{
    
    width: 60%;
    margin: 100px 220px;
    height: auto;

    padding: 15px;
    color: #91A2CB;
    background-color: #0D141C;
}

/* Footer */
.all{
    display: flex;
    flex-direction: row;
}
.all1{
    display: flex;
    flex-direction: column;
    width:25%;
    /* background-color: red;     */
    height: 400px;
}
.pic1{
    float: left;
    margin-right: 30%;
    width: 200px;
    height: 200px;
}
.pic2{
    float: right;
    justify-content: right;
    margin-left: 23%;
    width: 200px;
    height: 200px;
}

.all2{
    display: flex;
    flex-direction: column;
    width:50%;
    /* background-color: yellow;     */
    height: 400px;
}
.word1{
    margin-top: 90px;
    font-family: Inter;
    font-size: 96px;
    font-weight: 500;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: center;
    color: #91A2CB;

}
.word2{

    margin-top: 29px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #91A2CB;


}
.word3{

    margin-top: 21px;
    border: 1px solid #8C98AD;
    border-radius: 13px ;
    width: 200px;
    height: 30px;
    margin-left: 6%;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 1%;
    padding-top: 2px;
    color: #91A2CB;

}

.all3{
    display: flex;
    flex-direction: column;
    width:25%;
    /* background-color: orangered;     */
    height: 400px;
}
.pic3{
    margin-left: 35%;
    width: 170px;
    height: 86px;
    align-items: flex-end;
    justify-items: left;
    float: left;
    margin-top: 10px;
}
.pic4{
    margin-top: 110px;
    height: 200px;
    width: 200px;
}

.last{
    display: flex;
    flex-direction: row;   
}
.last1{
    width:25%;    
    height: 100px;
}
.wid{
    border-top: 1px solid #91A2CB;;
    margin-left: 5%;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #91A2CB;
}
.last2{
    width:50%;
    background-color: greenyellow;    
    height: 100px;
}
.last3{
    display: flex;
    flex-direction: row;
    width:25%;
    background-color: goldenrod;    
    height: 100px;
}
